#logout {
    margin: 0%;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    font-weight: 500;
    border: none;
}

#logout:hover {
    opacity: 70%;
    background: #bae0b8;
}